<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/taikang_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/taikang_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.BeforeSearchActivity"></activity>
        <activity
            android:name=".activity.OneSharpEyeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.OneToHundredResultActivity" />
        <activity
            android:name=".activity.OneToOneHundredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Num25Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SchulteAttentionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SchulteGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpeedReadNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScoreRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchOddEvenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BeforeEBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EBookTreeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>